<div id="patient-count-box">
	<div id="enrolled-patients" title="Total number of patients in GIC institutions matching your query.">
		<span class="center large" id="patient-spinner-total">{{#if spinning}}{{> spinner spinnerClasses}}{{/if}}</span>
		<span id="patient-count" class="blue center large">{{#if queryRan}}{{totalPatients}}{{else}}-{{/if}}</span>
		<span class="center medium">Patients</span>
		<span class="icon expand-icon glyphicon glyphicon-chevron-right institution-arrow" id="institution-patients-arrow"></span>
	</div>
	<br><br>
	<div class="container institution-results" id="pic-sure-instances" >		
        <div class="result-list">
		{{#each resources}}
				<div class="col-md-6 left"><span>{{name}}</span></div>
				<div class="col-md-3 right"><span id="patient-results-{{uuid}}-count">{{#if queryRan}}{{patientCount}}{{else}}-{{/if}}</span>
					<span id="patient-spinner-{{uuid}}">{{#if spinning}}{{> spinner spinnerClasses}}{{/if}}</span>
				</div>
				<div class="col-md-3"></div><br>
		{{/each}}
		</div>
	</div>
	<script>
	$("#institution-patient-arrow").click(function(){
		if($("#institution-patient-arrow").hasClass("glyphicon-chevron-right"){
			$("#institution-patient-arrow").removeClass("glyphicon-chevron-right");
			$("#institution-patient-arrow").addClass("glyphicon-chevron-down");
			$("#pic-sure-instances").show("150");
		} else {
			$("#institution-patient-arrow").addClass("glyphicon-chevron-right");
			$("#institution-patient-arrow").removeClass("glyphicon-chevron-down");
			$("#pic-sure-instances").hide("150");
		}
	});
	</script>
	
	
	<div id="biosamples-div" title="Total number of biosamples in GIC institutions matching your query.">
		<span class="center large" id="biosamples-spinner-total">{{#if bioSpinning}}{{> spinner spinnerClasses}}{{/if}}</span>
		<span id="biosamples-count" class="blue center large">{{#if queryRan}}{{totalBiospecimenss}}{{else}}-{{/if}}</span>
		<span class="center medium">Biosamples</span>
		<span class="icon expand-icon glyphicon glyphicon-chevron-right institution-arrow" id="institution-biosamples-arrow"></span>
	</div>
	<br><br>
	<div class="container institution-results" id="biosamples-instances" >		
        <div class="result-list">
		{{#each biosampleFields}}
				<div class="col-md-6 left"><span>{{label}}</span></div>
				<div class="col-md-3 right"><span id="biosamples-results-{{id}}-count">-</span>
				</div>
				<div class="col-md-3"></div><br>
		{{/each}}
		</div>
	</div>
	<script>
	$("#institution-biosamples-arrow").click(function(){
		if($("#institution-biosamples-arrow").hasClass("glyphicon-chevron-right"){
			$("#institution-biosamples-arrow").removeClass("glyphicon-chevron-right");
			$("#institution-biosamples-arrow").addClass("glyphicon-chevron-down");
			$("#biosamples-instances").show("150");
		} else {
			$("#institution-biosamples-arrow").addClass("glyphicon-chevron-right");
			$("#institution-biosamples-arrow").removeClass("glyphicon-chevron-down");
			$("#biosamples-instances").hide("150");
		}
	});
	</script>
</div>
