<div id="patient-count-box">
	<div id="enrolled-patients" title="Total number of patients in GIC institutions matching your query.">
		<span class="center large" id="patient-spinner-total">{{#if spinning}}{{> spinner spinnerClasses}}{{/if}}</span>
		<span id="patient-count" class="blue center large">{{#if queryRan}}{{totalPatients}}{{else}}0{{/if}}</span>
		<span class="center medium">Patients</span>
		<span class="icon expand-icon glyphicon glyphicon-chevron-right institution-arrow" id="institution-patients-arrow"></span>
	</div>
	<br><br>
	<div class="container institution-results" id="pic-sure-instances" >		
        <div class="result-list">
		{{#each resources}}
				<div class="col-md-2"></div>
				<div class="col-md-5 left"><span title="{{description}}">{{name}}</span></div>
				<div class="col-md-3 right"><span id="patient-results-{{uuid}}-count">{{#if queryRan}}{{patientCount}}{{else}}-{{/if}}</span>
					<span id="patient-spinner-{{uuid}}">{{#if spinning}}{{> spinner spinnerClasses}}{{/if}}</span>
				</div>
				<div class="col-md-2"></div><br>
		{{/each}}
		</div>
	</div>
	<script>
	$("#institution-patients-arrow").click(function(){
		if($("#institution-patients-arrow").hasClass("glyphicon-chevron-right")){
			$("#institution-patients-arrow").removeClass("glyphicon-chevron-right");
			$("#institution-patients-arrow").addClass("glyphicon-chevron-down");
			$("#pic-sure-instances").show("150");
		} else {
			$("#institution-patients-arrow").addClass("glyphicon-chevron-right");
			$("#institution-patients-arrow").removeClass("glyphicon-chevron-down");
			$("#pic-sure-instances").hide("150");
		}
	});
	</script>
	
	<div id="genomicdata-div" title="Total number of patients matching your query with genomic data available in GIC institutions.">
		<span class="center large" id="genomicdata-spinner-total">{{#if genomicSpinning}}{{> spinner spinnerClasses}}{{/if}}</span>
		<span id="genomicdata-count" class="blue center large">{{#if genomicQueryRan}}{{totaltotalGenomicdata}}{{else}}0{{/if}}</span>
		<span class="center medium">Patients with Genomic Data</span>
		<span class="icon expand-icon glyphicon glyphicon-chevron-right institution-arrow" id="institution-genomicdata-arrow"></span>
	</div>
	<br><br>
	<div class="container institution-results" id="genomicdata-instances" >		
        <div class="result-list">
        {{#each resources}}
        		<div class="col-md-2"></div>
				<div class="col-md-5 left"><span title="{{description}}">{{name}}</span></div>
				<div class="col-md-3 right"><span id="genomicdata-results-{{uuid}}-count">{{#if genomicQueryRan}}{{genomicdataCount}}{{else}}-{{/if}}</span>
					<span id="genomicdata-spinner-{{uuid}}">{{#if spinning}}{{> spinner spinnerClasses}}{{/if}}</span>
				</div>
				<div class="col-md-2"></div><br>
		{{/each}}
        
		</div>
	</div>
	<script>
	$("#institution-genomicdata-arrow").click(function(){
		if($("#institution-genomicdata-arrow").hasClass("glyphicon-chevron-right")){
			$("#institution-genomicdata-arrow").removeClass("glyphicon-chevron-right");
			$("#institution-genomicdata-arrow").addClass("glyphicon-chevron-down");
			$("#genomicdata-instances").show("150");
		} else {
			$("#institution-genomicdata-arrow").addClass("glyphicon-chevron-right");
			$("#institution-genomicdata-arrow").removeClass("glyphicon-chevron-down");
			$("#genomicdata-instances").hide("150");
		}
	});
	</script>
	
	
	<div id="biosamples-div" title="Total number of biosamples in GIC institutions matching your query.">
		<span class="center large" id="biosamples-spinner-total">{{#if bioSpinning}}{{> spinner spinnerClasses}}{{/if}}</span>
		<span id="biosamples-count" class="blue center large">{{#if queryRan}}{{totalBiospecimenss}}{{else}}0{{/if}}</span>
		<span class="center medium">Patients with biosamples</span>
		<span class="icon expand-icon glyphicon glyphicon-chevron-right institution-arrow" id="institution-biosamples-arrow"></span>
	</div>
	<br><br>
	<div class="container institution-results" id="biosamples-instances" >		
        <div class="result-list">
        {{#each resources}}
        		<div class="col-md-2"></div>
				<div class="col-md-5 left"><span title="{{description}}">{{name}}</span></div>
				<div class="col-md-3 right"><span id="biosamples-results-{{uuid}}-count">{{#if queryRan}}{{patientCount}}{{else}}-{{/if}}</span>
					<span id="biosamples-spinner-{{uuid}}">{{#if spinning}}{{> spinner spinnerClasses}}{{/if}}</span>
				</div>
				<div class="col-md-2"></div><br>
		{{/each}}
        
		</div>
	</div>
	<script>
	$("#institution-biosamples-arrow").click(function(){
		if($("#institution-biosamples-arrow").hasClass("glyphicon-chevron-right")){
			$("#institution-biosamples-arrow").removeClass("glyphicon-chevron-right");
			$("#institution-biosamples-arrow").addClass("glyphicon-chevron-down");
			$("#biosamples-instances").show("150");
		} else {
			$("#institution-biosamples-arrow").addClass("glyphicon-chevron-right");
			$("#institution-biosamples-arrow").removeClass("glyphicon-chevron-down");
			$("#biosamples-instances").hide("150");
		}
	});
	</script>
	
	<div class="container output-button-container" id="moreInformation">
		<a class="center btn btn-default initially-hidden" id="more-info-btn">More Information</a>
	</div>
</div>
