
<div > Update Data for {{description}} </div>

<div id="institution-data-info">
 
    <div class="bordered-block">
        <table id='data-info-table' class="table /*table-striped*/">
			<thead class="infotable-head">
			<tr>
				<th class="center-cell">Clinical Population</th>
				<th class="center-cell">Genomic Population</th>
				<th class="center-cell">Genomic Data Diagnosis</th>
				<th class="center-cell">Genomic Data Types</th>
				<th class="center-cell">Biobank Population</th>
				<th class="center-cell">First Data Point</th>
				<th class="center-cell">Clinical Data Extract Date</th>
				<th class="center-cell">Genomic Data extract Date</th>
				<th class="center-cell">Expected Availability</th>
			</tr>
			</thead>
			
			<tbody>
			<tr>
				<td class="center-cell"><textarea id="clinicalPopulation">{{metadata.clinicalPopulation}}</textarea></td>
				<td class="center-cell"><textarea id="genomicPopulation">{{metadata.genomicPopulation}}</textarea></td>
				<td class="center-cell"><textarea id="genomicDataDiagnosis">{{metadata.genomicDataDiagnosis}}</textarea></td>
				<td class="center-cell"><textarea id="genomicDataTypes">{{metadata.genomicDataTypes}}</textarea></td>
				<td class="center-cell"><textarea id="biosamplePopulation">{{metadata.biosamplePopulation}}</textarea></td>
				<td class="center-cell"><textarea id="firstDataPoint">{{metadata.firstDataPoint}}</textarea></td>
				<td class="center-cell"><textarea id="clinicalDate">{{metadata.clinicalDate}}</textarea></td>
				<td class="center-cell"><textarea id="genomicDate">{{metadata.genomicDate}}</textarea></td>
				<td class="center-cell"><textarea id="availability">{{metadata.availability}}</textarea></td>
			</tr>
			</tbody>
		</table>
		<br/>
		<div class="submit-div"><button id="data-info-submit-btn" />Update Institution Data</div>
    </div>

</div>