<table id='moreInfoTable'>
	<thead>
	<tr><th>Site</th>
	{{#each biosampleFields}}
		<th><span>{{label}}</span></th>
	{{/each}}
	</tr>
	</thead>
	
	<tbody>
	{{#each resources}}
	<tr><td><span title="{{description}}">{{name}}</span></td>
	
		{{#each biosampleFields}}
			<td id="{{.. uuid}}-{{label}}"><div>  </div></td>
		{{/each}}
	</tr>
	{{/each}}
	
	</tbody>
</table>
