<table id='moreInfoTable' class="table">
	<thead class="infotable-head">
	<tr><th>Site</th><th>Patient</th><th>Biosamples</th>
	{{#each biosampleFields}}
		<th><span>{{label}}</span></th>
	{{/each}}
	</tr>
	</thead>
	
	<tbody>
	{{#each resources}}
	<tr><td><span title="{{description}}">{{name}}</span></td>
		<td><span id="{{uuid}}-patients"> </span></td>
		<td><span id="{{uuid}}-biosamples"> </span></td>
		{{#each ../biosampleFields}}
			<td id="{{../uuid}}-{{label}}"><div>  </div></td>
		{{/each}}
	</tr>
	{{/each}}
	
	</tbody>
</table>
