<table id='moreInfoTable' class="table table-striped">
	<thead class="infotable-head">
	<tr>
		<th>Site</th>
		<th class="center-cell">Patients</th>
		{{#each genomicFields}}
			<th class="center-cell"><span>{{label}}</span></th>
		{{/each}}
		{{#each biosampleFields}}
			<th class="center-cell"><span>{{label}}</span></th>
		{{/each}}
	</tr>
	</thead>
	
	<tbody>
	{{#each resources}}
	<tr><td><span title="{{description}}">{{name}}</span></td>
		<td class="center-cell"><span id="{{uuid}}-patients"> </span></td>
		{{#each ../genomicFields}}
			<td class="center-cell" id="{{../uuid}}-{{id}}"><div>  </div></td>
		{{/each}}
		{{#each ../biosampleFields}}
			<td class="center-cell" id="{{../uuid}}-{{id}}"><div>  </div></td>
		{{/each}}
	</tr>
	{{/each}}
	
	</tbody>
</table>
